body{
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #14282c;
}
.container{
	background-color: aqua;
}
.pane{
	/*height: 300px;*/
	padding: 10px;
}
#p1{
	background-color: #f17a7a;
}
#p2{
	background-color: #faffad;
}
#p3{
	background-color: #b0f5bb;
}

.user-input{
	background-color: aqua;
	caret-color: pink;
	/*caret-shape: block;*/
	border: none;
	outline: none;
}